version: "3"

services:
  clightning_bitcoin:
    image: btcpayserver/lightning:v24.05
    container_name: btcpayserver_clightning_bitcoin
    restart: unless-stopped
    environment:
      LIGHTNINGD_NETWORK: ${NBITCOIN_NETWORK:-regtest}
      LIGHTNINGD_CHAIN: btc
      LIGHTNINGD_ALIAS: ${LIGHTNING_ALIAS}
      LIGHTNINGD_ANNOUNCEADDR: ${BTCPAY_ANNOUNCEABLE_HOST}
      LIGHTNINGD_PORT: 9735
      LIGHTNINGD_READY_FILE: /root/.nbxplorer/btc_fully_synched
      LIGHTNINGD_OPT: |
        bitcoin-datadir=/etc/bitcoin
        bitcoin-rpcconnect=bitcoind
        experimental-offers
        database-upgrade=true
        rpc-file-mode=0666
        clnrest-port=3010
        clnrest-protocol=http
        clnrest-host=0.0.0.0
    volumes:
      - "clightning_bitcoin_datadir:/root/.lightning"
      - "bitcoin_datadir:/etc/bitcoin"
      - "nbxplorer_datadir:/root/.nbxplorer"
    ports:
      - "9735:9735"
      - "3010"
    links:
      - bitcoind

  bitcoin_rtl:
    image: shahanafarooqui/rtl:0.15.0
    restart: unless-stopped
    environment:
      LN_IMPLEMENTATION: CLN
      CONFIG_PATH: /root/.lightning/config
      LN_SERVER_URL: http://clightning_bitcoin:3010
      RUNE_PATH: /root/.lightning/rune.env
      RTL_CONFIG_PATH: /data/
      BITCOIND_CONFIG_PATH: /etc/bitcoin/bitcoin.conf
      RTL_SSO: 1
      RTL_COOKIE_PATH: /data/.cookie
      LOGOUT_REDIRECT_LINK: /server/services
    labels:
      traefik.enable: "true"
      traefik.http.routers.bitcoin_rtl.rule: Host(`${BTCPAY_HOST}`) && (Path(`/rtl`) || PathPrefix(`/rtl/`))
    volumes:
      - "clightning_bitcoin_datadir:/root/.lightning"
      - "bitcoin_datadir:/etc/bitcoin"
      - "clightning_bitcoin_rtl_datadir:/data"
    expose:
      - "3000"

  mempool_api:
    environment:
      LIGHTNING_ENABLED: "true"
      LIGHTNING_BACKEND: "cln"
      CLIGHTNING_SOCKET: "/etc/lightning/lightning-rpc"
    volumes:
      - "clightning_bitcoin_datadir:/etc/lightning"

  mempool_web:
    environment:
      LIGHTNING: "true"

  btcpayserver:
    environment:
      BTCPAY_BTCLIGHTNING: "type=clightning;server=unix://etc/clightning_bitcoin/lightning-rpc"
      BTCPAY_BTCEXTERNALRTL: "server=/rtl/api/authenticate/cookie;cookiefile=/etc/clightning_bitcoin_rtl/.cookie"
    volumes:
      - "clightning_bitcoin_datadir:/etc/clightning_bitcoin"
      - "clightning_bitcoin_rtl_datadir:/etc/clightning_bitcoin_rtl"
    links:
      - clightning_bitcoin
volumes:
  clightning_bitcoin_datadir:
  clightning_bitcoin_rtl_datadir:
exclusive:
  - lightning
