version: "3"

services:
  nano-node:
    restart: unless-stopped
    container_name: btcpayserver_nano_node
    image: nanocurrency/nano:V28.2
    expose:
      - "7076"
      - "7078"
      - "7075"
    volumes:
      - "~:/root"
  # nano-work-gen:
  #   restart: unless-stopped
  #   container_name: btcpayserver_nano_work_gen
  #   image: pbuyle/nano-work-server:nvidia
  #   # command: docker run --rm -p 127.0.0.1:7000:7000/tcp pbuyle/nano-work-server --cpu-threads 4 --listen-address 0.0.0.0:7000
  #   expose: 
  #     - "7000"
  #   command: ["--cpu-threads", "4", "--listen-address", "0.0.0.0:7000"]
  #   # volumes:
  #   #   - "xmr_wallet:/wallet"
  #   depends_on:
  #     - nano-node
  nano-pippin-wallet:
    restart: unless-stopped
    container_name: btcpayserver_nano_pippin_wallet
    image: bananocoin/pippin:latest
    expose:
      - "11338"
    environment: 
      REDIS_HOST: "btcpayserver_nano_pippin_redis"
    volumes:
      - "~/PippinData:/root/PippinData"
    depends_on:
      - nano-node
      - nano-work-gen
      - nano-pippin-redis
  nano-pippin-redis:
    container_name: btcpayserver_nano_pippin_redis
    image: redis:latest
    restart: unless-stopped
    expose:
        - '6379'
  btcpayserver:
    environment:
      BTCPAY_XNO_RPC_URI: http://btcpayserver_nano_pippin_wallet:11338
      BTCPAY_XNO_WEBSOCKET_URI: ws://btcpayserver_nano_node:7078
