services:
  btcpayserver:
    environment:
      BTCPAY_LTC_MWEB_DAEMON_URI: http://mwebd:12345
  mwebd:
    restart: unless-stopped
    container_name: mwebd
    image: hectorchu1/mwebd
    volumes:
      - "mwebd_datadir:/data"
volumes:
  mwebd_datadir:
required:
  - "litecoin"
