version: '3'
services:
  shopify-app-deployer:
    image: btcpayserver/shopify-app-deployer:1.5
    restart: unless-stopped
    init: true
    expose:
      - "5000"

  btcpayserver:
    environment:
      BTCPAY_SHOPIFY_PLUGIN_DEPLOYER: "http://shopify-app-deployer:5000/"
