version: "3"

services:
  postgres:
    restart: unless-stopped
    image: btcpayserver/postgres:13.13
    command: [ "-c", "random_page_cost=1.0", "-c", "shared_preload_libraries=pg_stat_statements" ]
    environment:
      POSTGRES_HOST_AUTH_METHOD: trust
    volumes:
      - "postgres_datadir:/var/lib/postgresql/data"

volumes:
  postgres_datadir:
