version: "3"

services:
  zcash_walletd:
    restart: unless-stopped
    init: true
    image: hhanh00/zcash-walletd:1.1.4
    environment:
      NOTIFY_TX_URL: http://btcpayserver:49392/zcashlikedaemoncallback/tx?cryptoCode=zec&hash=
      ROCKET_DB_PATH: /data/zec-wallet2.db
      CONFIG_PATH: /data/config2.json
      LWD_URL: https://zec.rocks:443
    expose:
      - "8000"
    volumes:
    - "zec_wallet:/data"
  btcpayserver:
    environment:
      BTCPAY_ZEC_DAEMON_URI: http://zcash_walletd:8000
      BTCPAY_ZEC_WALLET_DAEMON_URI: http://zcash_walletd:8000
      BTCPAY_ZEC_WALLET_DAEMON_WALLETDIR: /root/zec_wallet
      BTCPAY_ZEC_WALLET_DAEMON_CONFIG_PATH: /root/zec_wallet/config2.json
    volumes:
      - "zec_wallet:/root/zec_wallet"
volumes:
  zec_wallet:
  zec_data:

exclusive:
  - zcash-node
